root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

[*.{yaml,yml}]
mode = YAML
indent_style = space
indent_size = 2

[*.{sh,bash}]
mode = Shell Script
indent_style = space
indent_size = 4

[*.py]
mode = Python
indent_style = space
indent_size = 4

[*.{plist,recipe,pkginfo}]
mode = XML
indent_style = tab
indent_size = 4
x-show-invisibles = 1
x-show-spaces = 1
